main section.index {
  height: 100vh;
}

div.section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 95%;
  height: calc(100% - 80px);
  padding-left: 28px;
  padding-right: 28px;
}

div.section-wrapper section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 28px;
}

div.section-wrapper section h2 {
  text-align: center;
}

main div.section-wrapper section:nth-child(1) {
  background-color: rgb(127, 144, 255);
}

main div.section-wrapper section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(134, 215, 255);
  gap: 26px;
}

main div.section-wrapper section:nth-child(2) div {
  height: 80px;
  text-align: center;
}

main div.section-wrapper section:nth-child(2) div input {
  height: 80px;
  width: 200px;
}

main div.section-wrapper section:nth-child(3) {
  background-color: rgb(127, 144, 255);
}

main div.section-wrapper section button {
  border: none;
  margin: 0;
  height: 38px;
  font-size: 1.5rem;
}